<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="header.component.css">


</head>

<body id="container1">

    <header>
        <!-- As a link -->
        <nav class="navbar navbar-light" id="banner">
            <input type="checkbox" id="check">
            <label for="check" id="icone"><img id="menu" src="assets/imagem/ic_baseline-menu.png" /></label>
            <div class="barra">
                <nav>
                    <ul>
                        <a href="">
                            <div class="link">Acessorios</div>
                        </a>
                        <a href="">
                            <div class="link">Notebook</div>
                        </a>
                        <a routerLink="jogos">
                            <div class="link">Jogos</div>
                        </a>
                        <a href="">
                            <div class="link">PC Game</div>
                        </a>
                        <a href="">
                            <div class="link">Promoções</div>
                        </a>
                    </ul>
                </nav>
            </div>
            <li class="nav-item text-white">
                <div>
                    <h1 id="empresa">MEGA<img id="logo" src="assets/imagem/logo_empresa.png">GAMES</h1>
                </div>

                <div>
                    <a routerLink="login"><img id="loguin" src="assets/imagem/ic_baseline-person-outline.png"></a>

                </div>
                <div>
                    <img id="sacola" src="assets/imagem/bytesize_bag.png">
                </div>


            </li>





        </nav>
        <nav class="navbar navbar-light text-white" id="contato">

            <marquee>
                <h6>CONTATO<img id="email" src="assets/imagem/openmoji_e-mail.png">loja@gamemania.com.br <img id="fone"
                        src="assets/imagem/fone.png"> (11) 4999-9999 </h6>
            </marquee>
        </nav>
    </header>