<link rel="stylesheet" href="footer.component.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer id="rodape">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-white text-center">
                <img id="fc" src="assets/imagem/Vector.png">
                <img id="yo" src="assets/imagem/Vector (1).png">
                <img id="inst" src="assets/imagem/Vector (2).png">
                <p style="font-size: 12px" mb-0 id="end"> Loja Fisica : Avenida Moinho Fabrini, 339 - São Bernardo
                    do Campo - SP 
                </p>

            </div>
            


         </div>
     
    </div>
</footer>
