<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="home.component.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="container">

    <section id="Div1">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center my-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="carouselExampleIndicatorsBT1" class="carousel slide" data-ride="carousel">
                                <ol id="BT1" class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsBT1" data-slide-to="0" class="active">
                                    </li>
                                    <li data-target="#carouselExampleIndicatorsBT1" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicatorsBT1" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100">
                                        <img id="D1IM1" src="assets/imagem/jogo_1.jpg">
                                        <div class="carousel text-white text-center">
                                            <p style="font-size: 14px">Spider Man Miles Morales PS4 <br>
                                                R$ 125,99
                                            </p>

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100">
                                        <img id="D1IM2" src="assets/imagem/jogo_2.jpg">
                                        <div class="carousel text-white text-center">
                                            <p style="font-size: 14px">Fifa 22 PS4<br>
                                                R$ 164,99
                                            </p>

                                        </div>

                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100">
                                        <img id="D1IM3" src="assets/imagem/jogo_3.jpg">
                                        <div class="carousel text-white text-center">
                                            <p style="font-size: 14px">Crysis Trilogy Remastered PS4 <br>
                                                R$ 229,99
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>

    </section>
    <section id="Div2">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center my-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol id="BT2" class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    </li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100">
                                        <img id="D2IM1" src="assets/imagem/pc_gamer_1 1.jpg">
                                        <div class="carousel text-white text-center">
                                            <p style="font-size: 14px">Pc Gamer Completo<br>
                                                R$ 3 546,99
                                            </p>

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100">
                                        <img id="D2IM2" src="assets/imagem/PC_GAMER_2-removebg-preview.jpg">
                                        <div class="carousel text-white text-center">
                                            <p style="font-size: 14px">Pc Gamer Completo Amd A8<br>
                                                R$ 3 599,99
                                            </p>

                                        </div>

                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100">
                                        <img id="D2IM3" src="assets/imagem/pc_gamer_4-removebg-preview.jpg">
                                        <div class="carousel text-white text-center">
                                            <p style="font-size: 14px">PC Gamer Completo Intel<br>
                                                R$ 3 199,99
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>

    </section>
    <section id="Div3">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center my-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="carouselExampleIndicatorsBT3" class="carousel slide" data-ride="carousel">
                                <ol id="BT3" class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicatorsBT3" data-slide-to="0" class="active">
                                    </li>
                                    <li data-target="#carouselExampleIndicatorsBT3" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicatorsBT3" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100">
                                        <img id="D3IM1" src="assets/imagem/gamer_1.png">
                                        <div id="t31" class="carousel text-white text-center">
                                            <p style="font-size: 14px">Notebook Gamer Lenovo<br>
                                                R$ 3 999,99
                                            </p>

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100">
                                        <img id="D3IM2" src="assets/imagem/not_gamer_2-removebg.png">
                                        <div id="t32" class="carousel text-white text-center">
                                            <p style="font-size:14px">Notebook Gamer Acer<br>
                                                R$ 4 799,99
                                            </p>

                                        </div>

                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100">
                                        <img id="D3IM3" src="assets/imagem/not_gamer_3-removebg-preview.png">
                                        <div id="t33" class="carousel text-white text-center">
                                            <p style="font-size:14px">Notebook Gamer Dell<br>
                                                R$ 2 599,99
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>

    </section>
</body>