<link rel="stylesheet" href="jogos.component.css">

<body id="container">

    <section id="Div1">

        <div class="sec1 text-white">
            <div id="container-a">
                <img class="img-top" id="jogo1" src="assets/imagem/jogo1.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="t1" style="font-size: 15px">Jogo Guardiões da Galáxia</h5>
                    <p class="text" id="v1">R$ 96,99</p>
                    <p class="text" id="p1"><small class="text-white">ou 3x de R$ 32,33</small></p>
                </div>

            </div>

            <div id="container-b">
                <img class="img-top" id="jogo2" src="assets/imagem/jogo2.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="t2" style="font-size: 15px">Jogo Uncharted 4</h5>
                    <p class="text" id="v2">R$ 99,99</p>
                    <p class="text" id="p2"><small class="text-white">ou 3x de R$ 33,33</small></p>
                </div>

            </div>
            <div id="container-c">
                <img class="img-top" id="jogo3" src="assets/imagem/jogo3.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="t3" style="font-size: 15px">Jogo God of War</h5>
                    <p class="text" id="v3">R$ 89,99</p>
                    <p class="text" id="p3"><small class="text-white">ou 3x de R$ 29,99</small></p>
                </div>

            </div>
            <div id="container-d">
                <img class="img-top" id="jogo4" src="assets/imagem/jogo4.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="t4" style="font-size: 15px">Jogo Marvels Avengers</h5>
                    <p class="text" id="v4">R$ 74,99</p>
                    <p class="text" id="p4"><small class="text-white">ou 3x de R$ 24,99</small></p>
                </div>

            </div>
            <div id="container-e">
                <img class="img-top" id="jogo5" src="assets/imagem/jogo5.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="t5" style="font-size: 15px">Jogo Call Of Duty Infinite</h5>
                    <p class="text" id="v5">R$ 78,99</p>
                    <p class="text" id="p5"><small class="text-white">ou 3x de R$ 26,33</small></p>
                </div>

            </div>

        </div>





    </section>
    <section id="Div2">

        <div class="sec2 text-white">
            <div id="container-a">
                <img class="img-top" id="jogo6" src="assets/imagem/jogo6.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="td1" style="font-size: 15px">Jogo Forspoken</h5>
                    <p class="text" id="v1">R$ 193,99</p>
                    <p class="text" id="p1"><small class="text-white">ou 3x de R$ 64,66</small></p>
                </div>

            </div>

            <div id="container-b">
                <img class="img-top" id="jogo7" src="assets/imagem/jogo7.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="td2" style="font-size:15px ;">Jogo Returnal</h5>
                    <p class="text" id="v2">R$ 242,99</p>
                    <p class="text" id="p2"><small class="text-white">ou 3x de R$ 80,99</small></p>
                </div>

            </div>
            <div id="container-c">
                <img class="img-top" id="jogo8" src="assets/imagem/jogo8.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="td3" style="font-size:15px;">Jogo Call of Duty</h5>
                    <p class="text" id="v3">R$ 149,99</p>
                    <p class="text" id="p3"><small class="text-white">ou 3x de R$ 49,99</small></p>
                </div>

            </div>
            <div id="container-d">
                <img class="img-top" id="jogo9" src="assets/imagem/jogo9.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="td4" style="font-size:15px;">Jogo Elden Ring</h5>
                    <p class="text" id="v4">R$ 316,99</p>
                    <p class="text" id="p4"><small class="text-white">ou 3x de R$ 105,66</small></p>
                </div>

            </div>
            <div id="container-e">
                <img class="img-top" id="jogo10" src="assets/imagem/jogo10.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="td5" style="font-size:15px;">Jogo Far Cry 6</h5>
                    <p class="text" id="v5">R$ 159,99</p>
                    <p class="text" id="p5"><small class="text-white">ou 3x de R$ 53,33</small></p>
                </div>

            </div>




        </div>

    </section>
    <section id="Div3">

        <div class="sec3 text-white">
            <div id="container-a">
                <img class="img-top" id="jogo11" src="assets/imagem/jogo11.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="td1" style="font-size:15px;">Jogo F1 2022 BR</h5>
                    <p class="text" id="v1">R$ 349,99</p>
                    <p class="text" id="p1"><small class="text-white">ou 3x de R$ 116,66</small></p>
                </div>

            </div>

            <div id="container-b">
                <img class="img-top" id="jogo12" src="assets/imagem/jogo12.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="tdd2" style="font-size:15px;">Jogo Ghost of Tsushima</h5>
                    <p class="text" id="v2">R$ 199,99</p>
                    <p class="text" id="p2"><small class="text-white">ou 3x de R$ 66,66</small></p>
                </div>

            </div>
            <div id="container-c">
                <img class="img-top" id="jogo13" src="assets/imagem/jogo13.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="tdd3" style="font-size:15px;">Jogo Gran Turismo 7</h5>
                    <p class="text" id="v3">R$ 212,99</p>
                    <p class="text" id="p3"><small class="text-white">ou 3x de R$ 70,99</small></p>
                </div>

            </div>
            <div id="container-d">
                <img class="img-top" id="jogo14" src="assets/imagem/jogo14.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="tdd4" style="font-size:15px;">Jogo Horizon</h5>
                    <p class="text" id="v4">R$ 251,99</p>
                    <p class="text" id="p4"><small class="text-white">ou 3x de R$ 83,99</small></p>
                </div>

            </div>
            <div id="container-e">
                <img class="img-top" id="jogo15" src="assets/imagem/jogo15.jpg" alt="Imagem de capa do card">
                <div class="body">
                    <h5 class="title" id="tdd5" style="font-size:15px;">Jogo Kena</h5>
                    <p class="text" id="v5">R$ 399,99</p>
                    <p class="text" id="p5"><small class="text-white">ou 3x de R$ 133,33</small></p>
                </div>

            </div>


        </div>

    </section>
</body>

